{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Myself Ankit Shrestha currently studing Bsc.Csit at Orchid International College. I started to learn code when I was 19 years old. My 1st programming language was
         C indeed, it was boring at first.
        </p>
        <p>However, I studied more and learned about web development to become familiar with web technology and the changes happens in the web.
         Since, then I started realing the power of programming.</p>
        <p>At present, I code at Python and ever since without knowing I was hooked in the programming or you can say I'm on a journey of learning 
         new and amazing things. This website is one of my project, in this project my classmate Nitisha Timalsina 
          will share about her journey and will post new blogs</p>
        <p>Hope you will enjoy learning about her exciting journey.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
